<div class="container">
  <div class="overpricing">
    <div class="overpricing-title">
      <div class="accent">Сложность работы</div>
      при погрузке
    </div>
    <div class="overpricing-content">
      <div class="item">
        <div class="item-title">Время ожидания каждые 20 мин</div>
        <div class="item-price">350₽</div>
      </div>
      <div class="item">
        <div class="item-title">Работа в плохих погодных условиях</div>
        <div class="item-price">350₽</div>
      </div>
      <div class="item">
        <div class="item-title">Блокированные колёса или руль</div>
        <div class="item-price">350₽</div>
      </div>
      <div class="item">
        <div class="item-title">Подъём из кювета</div>
        <div class="item-price">350₽</div>
      </div>
    </div>
  </div>
  <app-slider></app-slider>
</div>
