<div class="container">
  <div class="title">Что еще мы можем?</div>
  <div class="content">
    <div class="item">
      <img src="assets/images/car_on_truck2.svg">
      <div class="item-title"><label class="bold">Перевозка новых автомобилей</label> из салона</div>
    </div>
    <div class="item">
      <img src="assets/images/car_on_truck3.svg">
      <div class="item-title"><label class="bold">Эвакуация</label> в проверенный автосервис</div>
    </div>
    <div class="item">
      <img src="assets/images/jeep2.svg">
      <div class="item-title"><label class="bold">Срочная эвакуация</label> из труднодоступных мест</div>
    </div>
    <div class="item">
      <img src="assets/images/car_on_truck4.svg">
      <div class="item-title"><label class="bold">Перевозка</label> коммерческого транспорта</div>
    </div>
  </div>
</div>
