<div class="content">
  <div class="block">
    <img class="logo" src="assets/images/logo.svg">
    <img class="mobile-logo" src="assets/icons/mobile-logo.svg">
  </div>
  <div class="block">
    <div class="social">
      <a class="icon">
        <img class="icon-img" src="assets/icons/telegram.svg">
      </a>
      <a class="icon">
        <img class="icon-img" src="assets/icons/whatsup.svg">
      </a>
    </div>
    <div class="mobile">
      <a class="number" href="tel:+79590000000">+7 959 000 0000</a>
      <button class="btn" [routerLink]="'/login'">Авторизация</button>
    </div>
  </div>
</div>
