.container {
  display: flex;
  /*height: 100%;*/
  height: 100vh;
  position: relative;
}

.navigation {
  flex: 1;
  padding: 35px 35px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
}

.logo {
  height: 135px;
  padding-bottom: 135px;
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}

.disabled:hover {
  background-color: transparent !important;
}

.item {
  transition: ease-in-out .2s;
  color: #fff;
  display: flex;
  column-gap: 23px;
  align-items: center;
  width: 300px;
  justify-content: flex-start;
  padding: 9px 25px;
  box-sizing: border-box;
  border-radius: 7px;

}

.item:hover {
  background: rgb(47, 45, 45);
}

.active-tab {
  color: var(--accent-color);
  background: rgb(47, 45, 45);

}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
}

.header {
  font-family: Muller;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(220, 220, 220);

}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header-item {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.date {
  font-size: 20px;
}

.time {
  font-size: 32px;
}

.wrapper {
  max-width: 1000px;
  padding: 0 0 0 30px;
}

.settings {
  min-height: 120px;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Muller;

}

.settings-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
}


.select, .search {
  border: 1px solid grey;
  font-size: 16px;
  outline: none;
  padding: 8px;
  border-radius: 8px;
}
.outlet {
  overflow: auto;
}
