.container {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgb(24, 22, 22, 1)), /* Градиент */ url("../../../assets/images/cheetah.svg");
  background-size: cover;
  background-position: center;

}

.header {
  padding: 10px 24px;
  box-sizing: border-box;
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*padding: 9% 12% 0 12%;*/
  padding: 170px 220px 0 200px;
  box-sizing: border-box;
  row-gap: 80px;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-wrap: wrap;
}

.line {
  width: 11px;
  rotate: 10deg;
  background-color: var(--accent-color);
  margin: 9px 0;

}

.subtitle-block {
  display: flex;
  column-gap: 21px;
  color: #fff;
}

.subtitle {
  line-height: 31px;
}


.info-block {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 49px;
  justify-content: space-between;
}

.info-block-left {
  display: flex;
  column-gap: 49px;
  align-items: center;
}

.info-block-right {
  display: flex;
  column-gap: 49px;
}

.info-block-item {
  display: flex;
  /*flex-direction: column;*/
  column-gap: 29px;
  background-color: #fff;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  padding: 55px 45px;
  box-sizing: border-box;
}

.item-icon {
  padding: 10px;
  background-color: #FFB618;
  border-radius: 9px;
}

.item-content {
  color: #3A1E07;
  font-family: Muller;
  display: flex;
  flex-direction: column;
}

.item-title {
  font-size: 35px;
  font-weight: bolder;
}

item-subtitle {
  font-size: 24px;
}

.block-footer {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.block-footer-title {
  color: var(--accent-color);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.white {
  color: #fff;
}

.block-footer-subtitle {
  font-size: 24px;
  text-align: center;
  font-family: Muller;
  font-weight: 400;
}

@media (max-width: 1210px) {
  .info-block {
    justify-content: center;
  }

  .info-block-item {
    padding: 15px;
  }

  .info-block-right {
    gap: 20px;
    flex-wrap: wrap;
  }

  .block-footer-title {
    font-size: min(32px, 7vw);
  }

  .block {
    padding: 170px 24px;
  }
}
@media (max-width: 760px) {
  .info-block-right {
    justify-content: center;
  }
  .title {
    font-size: 10vw;
    text-align: center;
  }
}
