<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="block">
    <div class="title">
      <div>Срочный</div>
      <div>эвакуатор</div>
    </div>
    <div class="subtitle-block">
      <div class="line"></div>
      <div class="subtitle">
        <div>Быстро и дешево погрузим любой автомобиль,</div>
        <div>вытащим его из ямы, сугроба, кювета, даже если</div>
        <div>авто неисправно</div>
      </div>
    </div>
    <div class="info-block">
      <div class="info-block-left">
        <div class="btn">Вызвать эвакуатор</div>
      </div>
      <div class="info-block-right">
        <div class="info-block-item">
          <div class="item-icon">
            <img src="assets/icons/clock.svg" alt="часы">
          </div>
          <div class="item-content">
            <div class="item-title">15 минут</div>
            <div class="item-subtitle">время подачи</div>
          </div>
        </div>
        <div class="info-block-item">
          <div class="item-icon">
            <img src="assets/icons/track.svg" alt="грузовик">
          </div>
          <div class="item-content">
            <div class="item-title">17 машин</div>
            <div class="item-subtitle">свой автопарк</div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-footer">
      <div class="block-footer-title">
        <label class="white">Направим к Вам технически</label> подготовленный эвакуатор
      </div>
      <div class="block-footer-subtitle white">для решения любых задач</div>
    </div>
  </div>
</div>
