<div class="container">
  <div class="content">
    <div class="item">
      <div class="item-title">Эвакуация мотоциклов и квадоциклов</div>
      <div class="item-badge">от 790₽</div>
      <img class="item-img" src="assets/images/bike.svg" alt="Мотоцикл">
    </div>
    <div class="item">
      <div class="item-title">Эвакуация легковых автомобилей</div>
      <div class="item-badge">от 1 790₽</div>
      <img class="item-img" src="assets/images/car.svg" alt="Легковая">
    </div>
    <div class="item">
      <div class="item-title">Эвакуация кроссоверов/внедорожников</div>
      <div class="item-badge">от 2 790₽</div>
      <img class="item-img" src="assets/images/jeep.svg" alt="Джип">
    </div>
    <div class="item">
      <div class="item-title">Эвакуация грузовиков</div>
      <div class="item-badge">от 3 790₽</div>
      <img class="item-img" src="assets/images/crafter.svg" alt="Бус">
    </div>
  </div>
</div>
