.container {
  padding: 64px 195px 0 195px;
  box-sizing: border-box;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 44px;
  row-gap: 66px;
}

.item {
  flex: 1 1;
  background-size: contain;
  background-position: center;
  background: url("../../../assets/images/empty-road.svg") fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  min-width: 400px;
  border-radius: 24px;
  position: relative;
  color: rgb(58, 30, 7);
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  transition: .2s;
}

.item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
}

.item:hover {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.61);
}

.item-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

img {
  height: 320px;
}

.item-title {
  position: absolute;
  left: 80px;
  top: 44px;
  z-index: 1;
}

.item-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 38px;
  background: var(--accent-color);
  border-radius: 14px;
  position: absolute;
  left: 111px;
  bottom: 76px;
  z-index: 1;
}

.block {
  /*padding: 7% 12% 0 12%;*/
  padding: 133px 228px 0;
  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 90%, rgb(24, 22, 22, 1)), /* Градиент */ url("../../../assets/images/car_on_truck.svg");
  background-size: cover;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.block-content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 40px;
  padding: 0 7% 6% 7%;
}

.block-form {
  background-color: #fff;
  border-radius: 25px;
  padding: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-input {
  border: none;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #ECEBEB;
  outline: none;
  max-width: 330px;
  width: 100%;
  min-height: 80px;
  resize: vertical;
  max-height: 250px;
}

.block-info {
  display: flex;
  flex-direction: column;
  row-gap: 52px;
  color: #ffffff;
  max-width: 622px;
  width: 100%;
}

.block-info-title {
  font-size: 48px;
  font-weight: 700;
}

.block-info-subtitle {
  font-size: 24px;
  font-weight: 400;
  font-family: Muller;
  line-height: 30px;
}

.accent {
  color: var(--accent-color);
}
.disabled {
  background-color: grey;
  color: white;
  cursor: auto;
}
@media (max-width: 1210px) {
  .block-content {
    justify-content: center;
  }

  .block {
    padding: 60px 24px;
  }

  .container {
    padding: 64px 24px;
  }
}

@media (max-width: 460px) {
  .form-input {
    padding: 24px;
  }
  .item {
    height: 400px;
    min-width: 250px;
  }

  .block-form {
    padding: 24px;
  }

  .item-badge {
    padding: 8px;
    box-sizing: border-box;
    text-wrap: nowrap;
    right: 10px;
  }

  .item-title {
    left: 10px;
  }

  .block-info-title {
    font-size: 7vw;
  }
}
