<div class="container">
  <div class="pricing">
    <div class="item">
      <div class="item-title">Эвакуация мотоциклов и квадоциклов</div>
      <div class="item-badge">от 790₽</div>
      <img class="item-img" src="assets/images/bike.svg" alt="Мотоцикл">
    </div>
    <div class="item">
      <div class="item-title">Эвакуация легковых автомобилей</div>
      <div class="item-badge">от 1 790₽</div>
      <img class="item-img" src="assets/images/car.svg" alt="Легковая">
    </div>
    <div class="item">
      <div class="item-title">Эвакуация кроссоверов/внедорожников</div>
      <div class="item-badge">от 2 790₽</div>
      <img class="item-img" src="assets/images/jeep.svg" alt="Джип">
    </div>
    <div class="item">
      <div class="item-title">Эвакуация грузовиков</div>
      <div class="item-badge">от 3 790₽</div>
      <img class="item-img" src="assets/images/crafter.svg" alt="Бус">
    </div>
  </div>
</div>
<div class="block">
  <div class="block-content">
    <div class="block-form" [formGroup]="form">
      <input class="form-input" formControlName="name" placeholder="Имя">
      <input class="form-input" formControlName="phone" placeholder="Номер телефона" type="tel">
      <textarea class="form-input" formControlName="comment" placeholder="Комментарий"></textarea>
      <button class="btn" (click)="onSubmit()" [disabled]="form.invalid"
              [class.disabled]="form.invalid">Вызвать эвакуатор
      </button>
    </div>
    <div class="block-info">
      <div class="block-info-title">Приедем уже через <label class="accent">15 минут</label></div>
      <div class="block-info-subtitle">Позвоните по телефону <label class="bold">+7 959 000 0000</label>
        <div>или оставьте заявку</div>
      </div>
    </div>
  </div>
</div>

