.container {
  padding: 4% 12%;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 44px;
  row-gap: 66px;
}

.item {
  flex: 1 1;
  background-size: contain;
  background-position: center;
  background: url("/assets/images/empty-road.svg") fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  min-width: 400px;
  border-radius: 24px;
  position: relative;
  color: rgb(58, 30, 7);
  overflow: hidden;
  font-size: 24px;
  font-weight: 700;
  transition: .2s;
}

.item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
}

.item:hover {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.61);
}

.item-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

img {
  height: 320px;
}

.item-title {
  position: absolute;
  left: 80px;
  top: 44px;
  z-index: 1;
}

.item-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 38px;
  background: #FFBB00;
  border-radius: 14px;
  position: absolute;
  left: 111px;
  bottom: 76px;
  z-index: 1;
}
