<div class="container">
  <div class="wrapper">
    <div class="content">
      <div class="block w1097px">
        <div class="title">Вызвать эвакуатор прямо сейчас!</div>
        <div class="subtitle">Свяжитесь с нами и мы быстро и профессионально окажем полную помощь по всем интересующим
          Вас
          услугам
        </div>
      </div>
      <div class="block space-between">
        <div class="form">
          <div class="form-block">
            <input class="form-input" placeholder="Имя">
            <input class="form-input" placeholder="Телефон">
          </div>
          <div class="form-block">
            <button class="btn">Вызвать эвакуатор</button>
            <div class="consent">
              <input type="checkbox">
              <div class="consent-content">Подтверждаю свои данные и даю своё согласие на их обработку.</div>
            </div>
          </div>
        </div>
        <div class="circle">
          <div class="circle-content">
            <img src="assets/icons/phone.svg">
            <div class="circle-text">
              <p>Или позвоните</p>
              <p>по телефону</p>
              <p class="bold phone">+7 959 000 00 00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="operator"></div>-->
  </div>
</div>
