@import url('assets/fonts/Muller/stylesheet.css');

@font-face {
  font-family: "Unbounded";
  src: url("assets/fonts/Unbounded/Unbounded-VariableFont_wght.ttf");
}

:root {
  --unbounded: "Unbounded";
}

html, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
